<div class="col-md-3" id="navigation">
  <ul class="nav nav-stacked">
    <li><a href="javascript:;"><i class="glyphicon glyphicon-book"></i><span class="text"> Books</span></a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-briefcase"></i><span class="text"> Tools</span></a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-time"></i><span class="text"> Real-time</span></a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-plus"></i><span class="text"> Advanced..</span></a></li>
  </ul>
  
  <hr>
</div>